:root {
  --banner_background: rgb(238 172 85);
  --like_background: #efae54;
  --btn_background: rgb(130 207 191);
  --background_bright: #e5594c;
  --background_line: #f66d52;
  --slider_background: #442624;
  --background_black: #000000;
  --btn_hover: #e8f8ff47;
  --btn_color: #fff3f2;
  --main_color: aliceblue;
  --title_color: rgb(255 236 219);
  --color: #ba9784;
  --border:solid rgb(111 81 81);
}

.wrapper {
  margin: 0px 6% 0px 0px;
  background: darkblue;
}
.wrapper:nth-child(3n+1) {
  margin: 0px 0px 0px 10%;
  background: rgb(0, 139, 12);
}

body {
  color: var(--main_color);
  font-family: "Roboto", sans-serif;
  background: url(../img/coffe_room.png) rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  overflow-x: hidden;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.columns:nth-child(3n), .columns:nth-child(4n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.banner {
  background: var(--banner_background);
}
.wrapper:nth-child(3n) .banner {
  border-top-right-radius: 115px;
  border-bottom-right-radius: 115px;
}

.main-btn {
  background: var(--btn_background);
  padding: 7px 40px;
  text-transform: uppercase;
}

.preview {
  color: inherit;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 35px;
  border: 2px var(--border);
}
.preview__arrow {
  font-size: 20px;
  color: rgb(229, 197, 176);
  margin-left: 25px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.preview:hover .preview__arrow {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.btn_like {
  background: var(--like_background);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-circle {
  border-radius: 50%;
  padding: 11px 18px;
  color: var(--btn_color);
}

.nav__menu {
  height: 24px;
  width: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-menu__line {
  height: 5px;
  width: 20px;
  background: var(--btn_color);
  position: relative;
}
.nav-menu__line::after, .nav-menu__line::before {
  content: "";
  display: block;
  height: 2px;
  width: 10px;
  background: var(--btn_color);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
}
.nav-menu__line::before {
  top: -5px;
  right: 0;
}
.nav-menu__line::after {
  top: 7px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.list__item {
  position: relative;
}

.dropdown {
  display: none;
  border: 2px var(--border);
  position: absolute;
  background: var(--background_black);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.dropdown__item {
  padding: 7px 20px;
}

.content__inner {
  max-width: 380px;
}
.content__inner > *:not(:first-child) {
  margin-top: 35px;
}
.content__title {
  color: var(--title_color);
  font-size: 198px;
  line-height: 155px;
  font-family: "Alumni Sans Inline One", cursive;
  font-weight: 100;
  text-transform: uppercase;
}
.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content__row * + * {
  margin-left: 33px;
}
.content__price {
  font-weight: 300;
  font-size: 28px;
}
.content__text {
  line-height: 30px;
}

.slider {
  width: 740px;
  height: 286px;
  border-top-right-radius: 38px;
  border-bottom-right-radius: 38px;
  padding: 50px 90px;
  background: var(--slider_background);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper:nth-child(4n) .slider {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 38px;
  border-bottom-left-radius: 38px;
}
.slider__carousel {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.slider__control {
  font-size: 20px;
}

.discount {
  border-radius: 12px;
  background: var(--background_bright);
  padding: 5% 15.4%;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content__inner {
  margin-bottom: 35px;
  font-style: inherit;
}
.content__list {
  line-height: 40px;
  color: var(--color);
}
.content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.content__link {
  color: var(--main_color);
}
.content__link:after {
  background-color: var(--background_line);
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.content__link:hover:after {
  width: 100%;
}

.footer {
  margin: 45px 0% 0px 0%;
  border-top: 2px var(--border);
  padding: 30px 0px;
  gap: 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 600px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}