:root {
  --banner_background: rgb(238 172 85);
  --like_background: #efae54;
  --btn_background: rgb(130 207 191);
  --background_bright: #e5594c;
  --background_line: #f66d52;
  --slider_background: #442624;
  --background_black: #000000;
  --btn_hover: #e8f8ff47;
  --btn_color: #fff3f2;
  --main_color: aliceblue;
  --title_color: rgb(255 236 219);
  --color: #ba9784;
  --border: solid rgb(111 81 81);
}

.wrapper {
  margin: 0px 6% 0px 0px;
}
.wrapper:nth-child(3n+1) {
  margin: 0px 0px 0px 10%;
}
.wrapper + .wrapper {
  margin-top: 50px;
}

body {
  color: var(--main_color);
  font-family: "Roboto", sans-serif;
  background: url(../img/coffe_room.png) rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  overflow-x: hidden;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(2.5rem, 0.927rem + 7.87vw, 7.5rem);
}
.columns:nth-child(3n), .columns:nth-child(4n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.columns:not(:nth-child(1)) > *[class*=content] {
  margin: auto;
}

.main-btn {
  background: var(--btn_background);
  padding: 7px 40px;
  text-transform: uppercase;
}

.preview {
  color: inherit;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 35px;
  border: 2px var(--border);
}
.preview__arrow {
  font-size: 20px;
  color: rgb(229, 197, 176);
  margin-left: 25px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.preview:hover .preview__arrow {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.control__btn-left:hover, .control__btn-right:hover, .preview:hover, .list__btn:hover {
  background: var(--btn_hover);
}

.btn_like {
  background: var(--like_background);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s all;
  transition: 1s all;
}
.btn_like:hover {
  -webkit-animation: like 1.4s ease 0s infinite normal forwards;
          animation: like 1.4s ease 0s infinite normal forwards;
}
@-webkit-keyframes like {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  10% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  17% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  33% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  80% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes like {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  10% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  17% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  33% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  80% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.btn_like_active {
  -webkit-transform: scale(0.9) scaleX(-1);
          transform: scale(0.9) scaleX(-1);
  background: var(--slider_background);
}

.btn-circle {
  border-radius: 50%;
  padding: 11px 18px;
  color: var(--btn_color);
}

.nav {
  margin: 30px 0px;
}
.nav__menu {
  height: 24px;
  width: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-menu__line {
  height: 5px;
  width: 20px;
  background: var(--btn_color);
  position: relative;
}
.nav-menu__line::after, .nav-menu__line::before {
  content: "";
  display: block;
  height: 2px;
  width: 10px;
  background: var(--btn_color);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
}
.nav-menu__line::before {
  top: -5px;
  right: 0;
}
.nav-menu__line::after {
  top: 7px;
}
.nav-menu_active ~ .dropdown {
  display: block;
}
.nav-menu_active .nav-menu__line::before, .nav-menu_active .nav-menu__line::after {
  width: 100%;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.list__item {
  position: relative;
}

.dropdown {
  display: none;
  border: 2px var(--border);
  position: absolute;
  background: var(--background_black);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 1;
  max-width: 160px;
}
.dropdown__item {
  padding: 7px 20px;
}

.banner {
  background: var(--banner_background);
  -ms-flex-item-align: start;
      align-self: flex-start;
  min-width: 280px;
}
.wrapper:nth-child(1) .banner {
  margin-left: auto;
  border-bottom-left-radius: 115px;
}
.wrapper:nth-child(3n) .banner {
  width: 600px;
  border-top-right-radius: 115px;
  border-bottom-right-radius: 115px;
}
.banner__img {
  height: 700px;
}
@media (max-width: 1100px) {
  .banner__img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: -97px;
       object-position: -97px;
  }
}

.content__inner {
  max-width: 380px;
}
.content__inner > *:not(:first-child) {
  margin-top: 35px;
}
.content__title {
  color: var(--title_color);
  font-size: 198px;
  line-height: 155px;
  font-family: "Alumni Sans Inline One", cursive;
  font-weight: 100;
  text-transform: uppercase;
}
.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content__row * + * {
  margin-left: 33px;
}
.content__price {
  font-weight: 300;
  font-size: 28px;
}
.content__text {
  line-height: 30px;
}
@media (max-width: 540px) {
  .content__title {
    font-size: clamp(8.5rem, 2.864rem + 28.18vw, 12.375rem);
  }
}

.slider {
  max-width: 740px;
  min-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 286px;
  border-top-right-radius: 38px;
  border-bottom-right-radius: 38px;
  padding: 50px 90px;
  background: var(--slider_background);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper:nth-child(4n) .slider {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 38px;
  border-bottom-left-radius: 38px;
}
.slider__window {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100%;
}
.slider__carousel {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
}
.slider__control {
  font-size: 20px;
  margin: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media (max-width: 919px) {
  .slider {
    padding: 50px 18px;
  }
}

.card {
  -webkit-transition: background 0.5s, border-radius 1s;
  transition: background 0.5s, border-radius 1s;
  position: relative;
}
.card__info {
  bottom: -175px;
  position: absolute;
  opacity: 0;
  background: #ffecdb;
  color: #6f5151;
  width: inherit;
  padding: 0px 10px;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.card:hover {
  position: relative;
  background: #eeac55;
  border-radius: 20px;
  overflow: hidden;
}
.card:hover .card__info {
  bottom: 0px;
  opacity: 1;
}
.card__img {
  margin: auto;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
}
.card:hover .card__img {
  -webkit-transform: scale(0.9, 0.8);
          transform: scale(0.9, 0.8);
}

.discount {
  min-height: 130px;
  min-width: 280px;
  margin: auto;
  border-radius: 12px;
  background: var(--background_bright);
  padding: 5% 15.4%;
  color: inherit;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.discount__img {
  width: 252px;
  position: absolute;
  right: 0px;
  bottom: -91px;
  height: 186px;
  -o-object-fit: cover;
     object-fit: cover;
}
.discount__btn {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  background: var(--background_bright);
  padding: 9%;
  position: absolute;
  top: 0;
  right: 0;
}
.discount *:not(img) {
  -webkit-box-shadow: 0px 0px 20px 20px var(--background_bright), inset 0px -1px 4px 20px var(--background_bright);
          box-shadow: 0px 0px 20px 20px var(--background_bright), inset 0px -1px 4px 20px var(--background_bright);
}
.discount:hover {
  -webkit-transform: scaleX(1.1) scaleY(1.1);
          transform: scaleX(1.1) scaleY(1.1);
  background: url(../img/gift.svg) center var(--background_bright);
  background-size: 80px;
  background-repeat: repeat;
  background-position: bottom 10px right 20px;
  -webkit-animation: img 3s infinite linear normal;
          animation: img 3s infinite linear normal;
}

@-webkit-keyframes img {
  0% {
    background-position: bottom 10px right 20px;
  }
  100% {
    background-position-y: top;
  }
}

@keyframes img {
  0% {
    background-position: bottom 10px right 20px;
  }
  100% {
    background-position-y: top;
  }
}
.contacts__inner {
  margin-bottom: 35px;
  font-style: inherit;
}
.contacts__list {
  line-height: 40px;
  color: var(--color);
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.contacts__link {
  color: var(--main_color);
}
.contacts__link:after {
  background-color: var(--background_line);
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.contacts__link:hover:after {
  width: 100%;
}

.footer {
  margin: 45px 0% 0px 0%;
  border-top: 2px var(--border);
  padding: 30px 0px;
  gap: 15px;
}

@media (max-width: 860px) {
  .columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .columns > *[class*=banner], .columns:not(:nth-child(1), .footer) > *[class*=content] {
    margin: 0px auto 0px 0px;
  }
  .content {
    padding: 15px;
  }
  .wrapper:nth-child(1) .banner {
    margin-left: inherit;
  }
  .wrapper:nth-child(1) .banner > *:not(.slider) {
    margin-right: auto;
  }
  .discount__img {
    z-index: -1;
  }
}
@media (max-width: 400px) {
  .wrapper:nth-child(1) .banner {
    margin-left: auto;
  }
  .slider {
    min-width: auto;
  }
}